
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/

# Environment
.env
.venv
env/
venv/
yolov8_stream/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VSCode
.vscode/

# macOS / Windows
.DS_Store
Thumbs.db

# Logs
*.log

cropped_images/*
debug_images/*
